<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base-layout :: base-layout(~{::main})}">

<body>
    <main class="container flex-grow-1">
        <div class="container mt-5">
            <div class="text-center">
                <h1 class="mb-4">Admin Panel</h1>
                <div class="row justify-content-center">
                    <!-- User Management -->
                    <div class="col-md-3">
                        <a href="/admin/client" class="btn btn-primary btn-block w-100 py-3">
                            Manage Clients
                        </a>
                    </div>
                    <!-- Product Management -->
                    <div class="col-md-3">
                        <a href="/admin/product" class="btn btn-success btn-block w-100 py-3">
                            Manage Products
                        </a>
                    </div>
                    <!-- Sales Management -->
                    <div class="col-md-3">
                        <a href="/admin/sale" class="btn btn-warning btn-block w-100 py-3">
                            Manage Sales
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>