<header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary mb-3" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img th:src="@{/img/favicon.ico}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top me-2">
                <span class="fs-3">Book Store</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-5">
                        <div>
                            <h5>
                                <a class="nav-link" th:href="@{/cart}">
                                    <i class="bi bi-cart-fill"></i>
                                    <span class="badge rounded-pill bg-primary" th:if="${session.sale != null}" th:text="${session.sale.items.size()}"></span>
                                </a>
                            </h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>