<!DOCTYPE html>
<html lang="en" th:replace="~{layout/user/user-base-layout :: user-base-layout(~{::main})}">

<body>
    <main class="container flex-grow-1">
        <form th:action="@{/product/search}" method="get" class="row" >
            <div class="col input-group mb-3">
                <input class="form-control" type="text" th:value="${searchTerm}" name="description"
                    placeholder="Enter product description" />
                <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
            </div>
        </form>

        <table border="1" class="table table-hover table-borderless">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <!-- <td th:text="${product.id}"></td> -->
                    <td th:text="${product.description}"></td>
                    <td th:text="'$'+${product.price}"></td>
                    <td class="d-flex justify-content-end">
                        <a th:href="@{/cart/add/{id}(id = ${product.id})}" class="btn btn-primary btn-sm"><i
                                class="bi bi-cart-plus-fill"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>