<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base-layout :: base-layout(~{::main})}">

<body class="d-flex flex-column min-vh-100 bg-light">
    <main class="container flex-grow-1">
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <h2>User info</h2>
            <a th:href="@{/home}" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
        </div>
        <div th:if="${successMessage}" class="alert alert-success text-center" id="successAlert">
            <span th:text="${successMessage}"></span>
        </div>
        <form th:action="@{/user/save}" th:object="${userClientDTO}" method="post">
            <div class="row">

                <input type="hidden" th:field="*{clientId}">
                <input type="hidden" th:field="*{userId}">

                <div class="col-md-3">
                    <label for="clientType">Client Type</label>
                    <select class="form-select" th:field="*{type}" id="clientType" onchange="updateLabel()">
                        <option value="Individual">Individual</option>
                        <option value="Corporate">Corporate</option>
                    </select>
                </div>

                <div class="col-md-5">
                    <label id="nameLabel" for="name">Name</label>
                    <input class="form-control" type="text" th:field="*{name}" th:errorclass="is-invalid" required>
                    <label class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                </div>
                <div class="col-md-3">
                    <label id="identifierLabel" for="identifier">CPF</label>
                    <input class="form-control" type="text" th:field="*{identifier}" th:errorclass="is-invalid"
                        required>
                    <label class="invalid-feedback" th:if="${#fields.hasErrors('identifier')}"
                        th:errors="*{identifier}"></label>
                </div>
                <div class="col-md-3">
                    <a th:href="@{/user/change-password}" class="btn btn-secondary mt-3">Change your password</a>
                </div>
            </div>
            <input type="submit" value="Save changes" class="btn btn-primary mt-3">
        </form>

        <script>
            function updateLabel() {
                let type = document.getElementById("clientType").value;
                document.getElementById("identifierLabel").textContent = (type === 'Individual') ? "CPF" : "CNPJ";
                document.getElementById("nameLabel").textContent = (type === 'Individual') ? "Name" : "Legal Name";
            }
            document.addEventListener("DOMContentLoaded", updateLabel);
        </script>
        <script>
            setTimeout(function () {
                let alert = document.getElementById("successAlert");
                if (alert) {
                    alert.classList.remove("show"); // Triggers Bootstrap fade-out
                    setTimeout(() => alert.remove(), 500); // Removes after fade-out
                }
            }, 3000); // Disappears after 3 seconds
        </script>

    </main>
</body>

</html>