<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base-layout :: base-layout(~{::main})}">

<body>
    <main class="container flex-grow-1">

        <fieldset disabled>
            <div class="form-group row mb-3">
                <div class="col-md-1">
                    <label for="id">Sale Nº</label>
                    <input class="form-control" type="text" th:field="*{sale.id}">
                </div>
                <div class="col-md-5">
                    <label for="client">Client</label>
                    <input class="form-control" type="text" th:field="*{sale.client.name}">
                </div>
                <div class="col-md-3">
                    <label for="date">Date</label>
                    <input class="form-control" type="text" th:field="*{sale.date}">
                </div>
            </div>
        </fieldset>
        <h3>Products in this sale</h3>
        <table class="table table-borderless mt-4">
            <thead>
                <tr class="table-dark">
                    <th>ID</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${sale.items}">
                    <td th:text="${item.product.id}"></td>
                    <td th:text="${item.product.description}"></td>
                    <td th:text="${item.product.price}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.total()}"></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between mt-5">
            <h4><strong>Total Value:</strong> $<span th:text="${sale.calculateTotal}"></span></h4>
        </div>
        <a th:href="@{/sale}" class="btn btn-primary mt-5">Voltar</a>
    </main>
</body>

</html>