<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base-layout :: base-layout(~{::main})}">

<body>
    <main>

        <div>
            <!-- <p><strong>ID:</strong> <span th:if="${session.sale.id}"></span></p>
            <p><strong>Date:</strong> <span th:text="${session.sale.date}"></span></p>
            <p><strong>Client Id:</strong> <span th:text="${session.sale.client.id}"></span></p>
            <p><strong>Client Name:</strong> <span th:text="${session.sale.client.name}"></span></p> -->
            <!-- <p><strong>Total Value:</strong> $<span th:text="${session.sale.calculateTotal}"></span></p> -->
        </div>

        <!-- <h2>Products in this sale</h2> -->
        <h2>Your cart</h2>
        <hr>
        <table class="container">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${session.sale.items}">
                    <!-- <td th:text="${item.product.id}"></td> -->
                    <td th:text="${item.product.description}"></td>
                    <td th:text="${item.product.price}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.total()}"></td>
                    <td><a th:href="@{/cart/add/{id}(id = ${item.product.id})}">+</a> |
                        <a th:href="@{/cart/remove/{id}(id = ${item.product.id})}">-</a> |
                        <a th:href="@{/cart/delete/{id}(id = ${item.product.id})}">delete</a>
                </tr>
            </tbody>
        </table>
        <br>
        <p><strong>Total Value:</strong> $<span th:text="${session.sale.calculateTotal}"></span></p>
        <br>
        <hr>
        <a th:if="${!session.sale.items.isEmpty}" th:href="@{/cart/clear}">Clear cart</a>
        <br>
        <a th:href="@{/product}">Back to Product List</a>
    </main>
</body>

</html>