<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base-layout :: base-layout(~{::main})}">

<body>
    <main>
        <h2>Your cart</h2>
        <hr>
        <table class="container">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${session.sale.items}">
                    <td th:text="${item.product.description}"></td>
                    <td th:text="${item.product.price}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.total()}"></td>
                    <td><a th:href="@{/cart/add/{id}(id = ${item.product.id})}">+</a> |
                        <a th:href="@{/cart/remove/{id}(id = ${item.product.id})}">-</a> |
                        <a th:href="@{/cart/delete/{id}(id = ${item.product.id})}">delete</a>
                </tr>
            </tbody>
        </table>
        <br>
        <h3><strong>Total Value:</strong> $<span th:text="${session.sale.calculateTotal}"></span></h3>
        <br>
        <a th:if="${!session.sale.items.isEmpty}" th:href="@{/cart/finish}">Finish sale</a>
        <br>
        <hr>
        <a th:if="${!session.sale.items.isEmpty}" th:href="@{/cart/clear}">Clear cart</a>
        <br>
        <a th:href="@{/product}">Back to Product List</a>
    </main>
</body>

</html>