<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base-layout :: base-layout(~{::main})}">

<body>
    <main class="container flex-grow-1">

        <form th:action="@{/admin/order/search}" method="get" class="row">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="input-group mb-3">
                    <input class="form-control form-control-sm" type="date" th:value="${searchDate}" name="date" placeholder="Enter order date" />
                    <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </form>
        <table border="1" class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Total Value</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.client.name}"></td>
                    <td th:text="${#temporals.format(order.date, 'dd/MM/yyyy')}"></td>
                    <td th:text="${order.calculateTotal}"></td>
                    <td><a class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="See order detais" th:href="@{/admin/order/{id}(id = ${order.id})}"><i class="bi bi-card-text"></i></a></td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>