<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base-layout :: base-layout(~{::main})}">

<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>

<body>
    <main>
        <form th:action="${person.isNaturalPerson} ? @{/natural-person/save} : @{/juridical-person/save}"
        th:object="${person}" method="post">
            <input type="hidden" th:field="*{id}">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" placeholder="Name">
            <label th:if="${person.isJuridicalPerson}" for="cnpj">CNPJ</label>
            <input th:if="${person.isJuridicalPerson}" type="text" th:field="*{cnpj}" placeholder="CNPJ">
            <label th:if="${person.isNaturalPerson}" for="cpf">CPF</label>
            <input th:if="${person.isNaturalPerson}" type="text" th:field="*{cpf}" placeholder="CNPJ">
            <input type="submit" value="Submit">
        </form>
    </main>
</body>
</html>