<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base-layout :: base-layout(~{::main})}">

<body>
    <main>
      
        <form th:action="@{/person/search}" method="get">
            <input type="text" th:value="${searchName}" name="name" placeholder="Enter client name" />
            <button type="submit">Search</button>
        </form>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>CPF/CNPJ</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="person : ${people}">
                    <td th:text="${person.id}"></td>
                    <td th:if="${person.isNaturalPerson}" th:text="N"></td>
                    <td th:if="${person.isJuridicalPerson}" th:text="J"></td>
                    <td th:text="${person.name}"></td>
                    <td th:if="${person.isNaturalPerson}" th:text="${person.cpf}"></td>
                    <td th:if="${person.isJuridicalPerson}" th:text="${person.cnpj}"></td>
                    <td><a th:href="@{/person/{id}(id = ${person.id})}"> Edit </a>|
                        <a th:href="@{/person/delete/{id}(id = ${person.id})}"> Delete </a>|
                        <a th:href="@{/sale/client_sales/{id}(id = ${person.id})}"> List all sales </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>